extends ../layout/main-layout.pug

block content

    if(action!=='undefined' && action==='create')
        .alert.alert-success Category has been created.

    if(action!=='undefined' && action==='delete')
        .alert.alert-danger Category has been deleted.

    if(action !== 'undefined' &&action==='edit')
        .alert.alert-warning Category has been updated.

    .row
        if categories.length>0
            table.table.table-bordered
                thead   
                    tr
                        th(style='width:100px') Name
                        th Description
                        th(style='width:133px')
                tbody
                    each category in categories
                        tr
                            td #{category.name}
                            td #{category.description}
                            td
                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/categories/${category._id}`) Edit

                                form(action='/admin/delete-category' method='POST')
                                    input(type='hidden' name='categoryid' value=`${category._id}`)
                                    button(type='submit').btn.btn-danger.btn-sm.ml-1 Delete
        else
            h1 No Category
