extends layout/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/hata.css")


block content
    h1 hata !!! :(
    h1 aradığınız sayfaya ulaşamıyoruz.
    a(href="/") Anasayfaya geri dön
