extends layout/main-layout.pug

block content
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam quod labore eveniet, iste sequi asperiores libero illo fugiat voluptas? Doloremque nesciunt vitae quasi a mollitia ea. Quasi, ducimus praesentium.Fugit, provident veritatis, praesentium laudantium quisquam blanditiis repudiandae expedita consequatur sit culpa beatae nulla. Ipsa, sed illum maxime et exercitationem officiis minima, pariatur laborum, delectus distinctio minus incidunt inventore dolor!Totam illo ipsa repellendus provident quibusdam, necessitatibus est quia quae ipsam qui nulla excepturi omnis iste neque quaerat assumenda dolore rerum at molestiae, aspernatur odio dolores velit. Maxime, optio consequuntur!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae molestiae explicabo tenetur quisquam at nostrum soluta! Placeat dolor iusto autem, voluptate mollitia odit voluptatem praesentium, quibusdam alias inventore obcaecati!Aut aperiam dignissimos soluta natus quis porro omnis vitae sequi, ad vero optio ipsa earum ex consequuntur deserunt fuga eveniet nostrum, odio architecto id ut voluptatem nulla veniam dolore? Corrupti.
    
    hr
    form(action='/register', method='POST')
        label(for='isim')
        input(type='text', name='isim' id='isim')
        input(type='submit', value='kabul et!')