extends ../layout/main-layout.pug

include ../mixin/createProduct.pug

block styles
    link(rel="stylesheet" href="/css/index.css")

block content
    .row
        .col-md-3
            //include ../includes/menu.pug

        .col-md-9

            include ../includes/slider.pug

            .row
                if products.length > 0
                    each product in products
                        +createProduct(product)
                else
                    h1 Ürün Bulunamadı !...

